.new-bg {
  background-color: #000 !important;
}

.newgreen {
  background-color: #11cdef !important;
  color: #fff !important;
  width: 120px;
  border-color: #11cdef !important;
}

.aling-items-center {
  text-align: center !important;
}

.ml-left {
  padding-left: 50px !important;
}

.ml-right {
  padding-left: 60px !important;
}

.underline {
  border-bottom: 1px solid #11cdef;
}

.ml-10x {
  padding-left: 60px !important;
}

.mb-11 {
  margin-bottom: 12rem !important;
}

.logo-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px !important;
}

.newavatar {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.nav-link {
  color: #fff !important;
}

.navbar-vertical.navbar-expand-md {
  background: rgb(0, 0, 0);
  background: linear-gradient(16deg,
      rgba(0, 0, 0, 1) 15%,
      rgba(15, 28, 7, 1) 100%);
}

.main-login {
  margin-top: -180px !important;
}

.navlogo {
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.hamburger-logo {
  width: 30px;
  height: 30px;
  color: #fff !important;
}

.newstyle {
  cursor: pointer !important;
  color: #8dbf26;
}

.user-img {
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
}

.user-header {
  display: flex;
  justify-content: space-between;
}

.user-header-inner {
  display: flex;
}

.input-countries {
  width: 220px;
  border: #8dbf26 0px solid;
  border-radius: 4px;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.picker {
  min-height: 35px;
  border: none !important;
  border-radius: 4px;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
  margin-top: 2px;
}

.react-datetime-picker__wrapper {
  border: none !important;
}

.center-text {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.input-countries-noti {
  width: auto;
  border: #8dbf26 0px solid;
  border-radius: 4px;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.css-14el2xx-placeholder {
  font-size: 14px;
  color: #adb5bd !important;
}

.input-parent {
  width: 240px;
  border: #8dbf26 0px solid;
  border-radius: 4px;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.css-qc6sy-singleValue {
  font-size: 14px !important;
}

.hidden-div {
  visibility: hidden;
}

.css-1s2u09g-control {
  border-color: transparent !important;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}

.css-1pahdxg-control {
  box-shadow: 0 0 0 0 transparent !important;
  border-color: transparent !important;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-tj5bde-Svg {
  color: #8dbf26 !important;
}

.from-style {
  margin-top: -150px !important;
}

.small-img-text {
  margin-left: 5px !important;
}

.small-img-from {
  padding-left: 2px !important;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 15px;
  margin-left: -15px !important;
  cursor: pointer;
}

.check {
  margin-left: -5px !important;
  padding-right: 5px;
}

.register-img {
  margin-top: -5px !important;
  width: 100%;
  height: 250px;
}

.headers-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.select-dropdown {
  margin-top: -10px !important;
  display: flex;
  flex-direction: row;
}

.descritopn-styling {
  cursor: pointer;
  color: #405517;
}

.video-player {
  height: 50% !important;
  width: 50% !important;
}

.mediastories {
  display: flex;
  flex-direction: column;
}

.sorted-styling {
  display: flex;
  margin-top: 26px;
  margin-left: 10px;
}

.navbar-search .form-control {
  width: 180px !important;
  height: 36px !important;
  background-color: transparent;
}

.navbar-search .input-group {
  border: 0px solid !important;
  border-radius: 5px !important;
}

.countPage {
  margin-top: -30px !important;
}

.th-margin {
  padding-left: 45px !important;
}

.journals-action-btn {
  padding-left: 35px !important;
}

.btns-modal {
  margin-top: 20px;
}

.img-under-modal {
  position: relative;
}

.crossicons {
  position: absolute;
  z-index: 999;
  left: 0;
}

.icon-size:hover {
  color: red;
  cursor: pointer;
  width: 500px !important;
}

.upperView {
  display: flex;
  justify-content: space-between !important;

}

/*  */